#genral config
NODE_ENV=development

#express serve config
PORT=3000
HOST=localhost
HOST_URL=http://localhost:3000

#sql server config
SQL_SERVER=lab-defontana-202310.caporvnn6sbh.us-east-1.rds.amazonaws.com
SQL_DATABASE=Prueba
SQL_USER=ReadOnly
SQL_PASSWORD=d*3PSf2MmRX9vJtA5sgwSphCVQ26*T53uU
SQL_ENCRYPT = false
